<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>HomeChef</title>
    <link rel="icon" href="assets/component19.png" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Muli|Open+Sans|Raleway|Roboto|Rubik|Work+Sans&display=swap" rel="stylesheet">

    
</head>

<body>
    <header role="banner" id="header">
        <nav class="navbar navbar-expand-lg navbar-light navbar-toggleable-lg fixed-top" role="navigation" id="navbarTop">
            <a class="navbar-brand" href="#">
                <img src="./assets/component19.png"  class="d-inline-block align-top"
                    alt="HomeChiefLogo">
                <div class="pariniti" >Pariniti <span class="systems">Systems</span></div>
            </a>

            <button id="ChangeToggle" class="navbar-toggler navbar-toggler-right collapsed" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="my-1 mx-2 close"><i class="fas fa-window-close"></i></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active ">
                        <a class="nav-link" href="#company">About us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#productsection">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <div class="row mb-5 bannerrow">
            <div class="col-sm-6 colmd-6 col-lg-6 mt-5">
                <div class="mt-5">
                    <h1 class="design" style="font: ExtraBold 105px/128px Montserrat;">DESIGN,</h1>
                    <h1 class="meettechnology">MEET TECHNOLOGY!</h1>
                    <h5 class="innovationandtransformation">INNOVATION</h5>
                    <h5 class="innovationandtransformation">TRANSFORMATION</h5>
                    </br>
                    <p class="medium bannerinfo" >
                        We are a creative software product company with young minds having deep expertise in business &
                        technologies.
                        Parinati offers wide rage of innovative software products catering to all the business
                        technology needs across verticals.
                    </p>
                    <a href="#main"><button type="button" class="btn btn-sm px-3 text-white small orangebuttons">Know more</button></a>

                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 bannerimg">
                <div class="mt-5">
                    <img src="./assets/banner.png" height="100%" width="100%" alt="bannerimage">
                </div>
            </div>
        </div>

        <div class="row my-5 pt-2" >
            <div class="col-sm-3 col-md-3 col-lg-3 "></div>
            <div class="col-sm-6 col-md-6 col-lg-6 pt-5 text-center" >
               
                    <img src="./assets/component2.png" height="150px" width="150px" alt="ourvision">
                    <h3 class="ourvision"> Our Vision </h3></br>
                    <p class="ourvisioninfo">
                        Our vision is to empower businesses with the world class products worldwide
                    </p>
               
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
        </div>
        <div class="row" role="main" id="main">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="belivein" >We belive in</p>
            </div>
        </div>
        

        <div class="row mt-2 mb-4" >
            <div class="col-sm-6 col-md-6 col-lg-6 pb-3">
                <div class="bg-white p-5 text-center">
                    <img src="./assets/component13.png" height="50%" width="45%" alt="invvovationimage">
                    <h5 class="innovationandtransformation text-center pt-3">INNOVATION</h5>
                    <p class="text-center innovationandtransformationinfo">Fast-lane for end-end results with
                        right process and platform to drive digital innovation</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 pb-3">
                <div class="bg-white p-5 text-center">
                    <img src="./assets/component14.png" height="20%" width="45%" alt="transformationimage" class="transformationimg">
                    <h5 class=" innovationandtransformation text-center pt-3">TRANSFORMATION</h5>
                    <p class="text-center innovationandtransformationinfo">Fast-lane for end-end results with
                        right process and platform to drive digital innovation</p>
                </div>
            </div>
        </div>

    <div id="company"> </div>
    <div class="row my-5" >
        <div class="col-sm-6 col-md-6 col-lg-6 p-5"  >
            <h4 class="company">The company</h4></br>
            <p class="companyinfo">
                Parinati offers wide rage of software products tailored to suit your business needs.
                We are startup focused and follow result-driven approach to drive your business to the path of
                success.
                Parinati strive to provide better solutions to bring new products to market by creative thoughts and
                utilization of technologies, thereby transforming businesses.
            </p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <img src="./assets/component15.png" height="100%" width="100%" alt="companyimage">
        </div>
    </div>
  
       

        <div class="row my-4 mx-auto d-flex justify-content-center ">

            <div
                class="col-sm-3 col-md-3 col-lg-3 bg-white bg-white text-black p-3 text-center mb-3 foodandsportsrow foodindustry">

                <h4 class="foodandsportsrowheadings">Food industry</h4>
                <p class="foodandsportsrowpara pt-2">
                    Get the benefit of Cloud Kitchen along with empowering women who loves to cook and can make their
                    earning out of this.
                    Parinati brings the luxury of home made food delivered at your door step, be it corporate or home
                    delivery
                </p>
                <img src="./assets/component16.png" class="img-responsive foodimg" height="fit-content" width="100%"
                    alt="foodindustryimage" style="padding-top: 40px;">


            </div>

            <div
                class="col-sm-3 col-md-3 col-lg-3 bg-white bg-white text-black p-3 text-center mb-3 sports foodandsportsrow">
                <h4 class="foodandsportsrowheadings">Sports & Management</h4>
                <p class="foodandsportsrowpara pt-2">
                    Cricket being a major sport played across globe and can be tracked way back to 16th centuries. It
                    has only gained more and more audience and is popular among all the generation.
                    Parinati offers live cricket score and unlimited access to everything that keeps you intrigued about
                    cricket
                </p>
                <img src="./assets/component17.png" class="img-responsive sportimg" height="fit-content" width="100%"
                    alt="foodindustryimage">
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3 bg-white bg-white text-black p-3 text-center mb-3 foodandsportsrow">
                <h4 class="foodandsportsrowheadings">Access management</h4>
                <p class="foodandsportsrowpara pt-2">
                    Access management being vital in all organization,
                    Parinati offers you best-in class system to capture and manage the access of employees across the
                    premises.
                </p>
                <img src="./assets/component18.png" class="img-responsive accessimg" height="fit-content" width="100%"
                    alt="foodindustryimage">
            </div>
        </div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <p class="upcomingproducts" id="productsection">Upcoming Products</p>
    </div>
</div>

   
        <!-- <div class="row my-4 bg-white ">

            <div class="col-sm-3 col-md-3 col-lg-3  py-3 mr-3">
                <p class="healthyfoods">HEALTHY FOOD</p>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 skewdesign"></div>
            <div class="col-sm-2 col-md-2 col-lg-2 py-3 mr-3">
                <p class="sports">SPORTS</p>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 skewdesign"></div>
            <div class="col-sm-2 col-md-2 col-lg-2 py-3 mr-3">
                <p class="access">ACCESS</p>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 py-3 seemorediv">
                <p class="seemore"><a href="#" style="text-decoration: none;color: #FFFFFF;">See more</a></p>
            </div>
        </div>
            
        <div class="row  bg-white" > 
            <div class="col-sm-4 col-md-4 col-lg-4 pt-4">
                <div class="imggroup">
                    <img src="./assets/productchart.png" height="fit-content" width="50%" alt="imagegroup" class="productchart"> 
                    <img src="./assets/product1.png" height="fit-content" width="30%" alt="imagegroup" class="product1">
                    <img src="./assets/product2.png" height="fit-content" width="30%" alt="imagegroup" class="product2">
                    <img src="./assets/product3.png" height="fit-content" width="30%" alt="imagegroup" class="product3">
                    <img src="./assets/product4.png" height="fit-content" width="30%" alt="imagegroup" class="product4">
                </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 p-5">
                <p class="healthyfoodinfo">
                    Don't get stressed up for having restaurant food at work.
                    Order homemade food prepared by homemakers and get it delivered at workplace.
                    Subscribe for weekly/monthly packages to avail discount</br> Watch how your food is prepared through LIVE
                    kitchen
                </p></br>
                <div class="row ">
                    <div class="col-sm-8 col-md-8 col-lg-8 ">
                        <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons" >Home
                            food</button>
                        <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons">Healthy
                            food</button>
                        <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons"
                            >Nutrition</button>
                        <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons" 
                            >Delivery</button>
                    </div>
                </div>
                </br>
                <button type="button" class="btn btn-sm py-0 px-3 text-white small orangebuttons"
                    >Know more</button>
            </div>
        </div>  -->
         
<div class="row mx-auto ">
    <ul class="nav nav-pills  bg-white" id="pills-tab" role="tablist">
        <li class="nav-item   px-5 py-3">
          <button class="nav-link active healthyfoods" id="pills-home-tab" data-toggle="pill" href="#healthyfood" role="tab" aria-controls="pills-home" aria-selected="true">HEALTHYFOOD</button>
        </li>
        <div class="col-sm-1 col-md-1 col-lg-1 skewdesign"></div>
        <li class="nav-item  px-5 py-3">
          <button class="nav-link sports" id="pills-profile-tab" data-toggle="pill" href="#sports" role="tab" aria-controls="pills-profile" aria-selected="false">SPORTS</button>
        </li>
        <div class="col-sm-1 col-md-1 col-lg-1 skewdesign"></div>
        <li class="nav-item  px-5 py-3">
          <button class="nav-link access" id="pills-contact-tab" data-toggle="pill" href="#access" role="tab" aria-controls="pills-contact" aria-selected="false">ACCESS</button>
        </li>
      
        <li class="nav-item seemorediv py-3">
            <button class="nav-link seemore" id="pills-contact-tab" data-toggle="pill" href="#" role="tab" aria-controls="pills-contact" aria-selected="false">See more</button>
        </li>
      </ul>
</div>
<div class="row mb-5 mx-auto">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="tab-content">
              
                <div id="healthyfood" class=" tab-pane fade in active show">
                  
                    <div class="row  bg-white px-2" > 
                        <div class="col-sm-4 col-md-4 col-lg-4 pt-4">
                            <div class="imggroup">
                                <img src="./assets/productchart.png" height="fit-content" width="50%" alt="imagegroup" class="productchart"> 
                                <img src="./assets/product1.png" height="fit-content" width="30%" alt="imagegroup" class="product1">
                                <img src="./assets/product2.png" height="fit-content" width="30%" alt="imagegroup" class="product2">
                                <img src="./assets/product3.png" height="fit-content" width="30%" alt="imagegroup" class="product3">
                                <img src="./assets/product4.png" height="fit-content" width="30%" alt="imagegroup" class="product4">
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 p-5">
                            <p class="healthyfoodinfo">
                                Don't get stressed up for having restaurant food at work.
                                Order homemade food prepared by homemakers and get it delivered at workplace.
                                Subscribe for weekly/monthly packages to avail discount</br> Watch how your food is prepared through LIVE
                                kitchen
                            </p></br>
                            <div class="row ">
                                <div class="col-sm-8 col-md-8 col-lg-8 ">
                                    <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons" >Home
                                        food</button>
                                    <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons">Healthy
                                        food</button>
                                    <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons"
                                        >Nutrition</button>
                                    <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons" 
                                        >Delivery</button>
                                </div>
                            </div>
                            </br>
                            <button type="button" class="btn btn-sm py-0 px-3 text-white small orangebuttons"
                                >Know more</button>
                        </div>
                    </div>
                </div>
                <div id="sports" class="tab-pane fade ">
                  
                    <div class="row  bg-white" > 
                        <div class="col-sm-4 col-md-4 col-lg-4 pt-4">
                            <div class="sportsimggroup">
                                <!-- <img src="./assets/productchart.png" height="fit-content" width="50%" alt="imagegroup" class="productchart">  -->
                                <img src="./assets/sports1.png" height="fit-content" width="30%" alt="imagegroup" class="sports1">
                                <img src="./assets/sports2.png" height="fit-content" width="30%" alt="imagegroup"  class="sports2">
                                <img src="./assets/sports3.png" height="fit-content" width="30%" alt="imagegroup" class="sports3">
                                <img src="./assets/sports4.png" height="fit-content" width="30%" alt="imagegroup" class="sports4">
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 p-5">
                            <p class="healthyfoodinfo">
                                All-in one access to your favourite games. watch live matches,
                                 get live scores, news and updates of your favorite team, Stay connected with your passion & dreams
                            </p></br>
                            <div class="row ">
                                <div class="col-sm-8 col-md-8 col-lg-8 ">
                                    <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons" >Sports</button>
                                    <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons">Management
                                        </button>
                                    <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons"
                                        >Cricket</button>
                                    <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons" 
                                        >Games</button>
                                </div>
                            </div>
                            </br>
                            <button type="button" class="btn btn-sm py-0 px-3 text-white small orangebuttons"
                                >Know more</button>
                        </div>
                    </div>
                </div> 
                <div id="access" class="tab-pane fade ">
                  
                    <div class="row  bg-white" > 
                        <div class="col-sm-4 col-md-4 col-lg-4 pt-4">
                            <div class="accessimggroup">
                                <!-- <img src="./assets/productchart.png" height="fit-content" width="50%" alt="imagegroup" class="productchart">  -->
                                <img src="./assets/Access1.png" height="fit-content" width="30%" alt="imagegroup" class="access1">
                                <img src="./assets/Access3.png" height="fit-content" width="30%" alt="imagegroup" class="access3">
                                <img src="./assets/Access2.png" height="fit-content" width="30%" alt="imagegroup" class="access2">
                                <!-- <img src="./assets/sports4.png" height="fit-content" width="30%" alt="imagegroup" > -->
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 p-5">
                            <p class="healthyfoodinfo">
                                Control and monitor all your network access with our Access management.
                                 Our ID access features includes authentication, authorization, trust and security for both on-premises and cloud-based systems.
                            </p></br>
                            <div class="row ">
                                <div class="col-sm-8 col-md-8 col-lg-8 ">
                                    <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons" >Access</button>
                                    <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons">Management
                                        </button>
                                    <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons"
                                        >company</button>
                                    <button type="button" class="btn btn-sm bg-white mb-3 healthyfoodbuttons" 
                                        >Office</button>
                                </div>
                            </div>
                            </br>
                            <button type="button" class="btn btn-sm py-0 px-3 text-white small orangebuttons"
                                >Know more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <p class="upcomingproducts">Gallery</p>
    </div>
</div>


        <div class="row my-4">
            <div class="col-sm-4 col-md-4 col-lg-4 mb-3">
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <img src="assets/component8.png" height="fit-content" width="100%" alt="galleryimage">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <img src="./assets/component10.png" height="fit-content" width="100%" alt="galleryimage">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 mb-3" style="filter: blur(1px);">


                <img src="./assets/component9.png" height="100%" width="100%" alt="galleryimage">

            </div>


            <div class="col-sm-4 col-md-4 col-lg-4 ">
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <img src="./assets/component11.png" height="fit-content" width="100%" alt="galleryimage">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <img src="./assets/component12.png" height="fit-content" width="100%" alt="galleryimage">
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center small text-white">
                <button type="button" class="btn btn-sm py-0 px-3 text-white small orangebuttons">See all
                    photos</button>
            </div>
        </div>
        </br>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <p class="upcomingproducts" id="contact">Contact us</p>
    </div>
</div>
        

        <div class="row my-5 mx-auto" >
            <div class="col-sm-4 col-md-4 col-lg-4">
                <p class="getintouch">Want to be a Digerati?</br> Get in touch to know how</p>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 bg-white p-2 contactusformdiv">
              <form action="/send/email" method="post">
                    <div class="form-row p-3">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <input type="text" id="firstname"  name="firstname" class="form-control contactusformdivform"
                                placeholder="Full name" title="Enter Your Fullname" required>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <input type="email" id="email" name="email"  class="form-control contactusformdivform "
                                placeholder="Email" title="Enter Your emailaddress" required>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <textarea name="message" id="message" name="message" cols="30" rows="3"
                                class="form-control contactusformdivform" placeholder="Message"
                                title="Post Your Message" style="resize: none;" required></textarea>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12 text-center pt-2">
                            <input type="submit" class="btn btn-sm py-0 px-3 text-white small orangebuttons">Send
                                message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
    </br>
    <footer class="footer" role="contentinfo">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 " >
                    <div class="float-right fixedbutton" >
                      <a href="#header"> <button type="button" title="Back To Up" class="btn btn-warning" >
                            <span>
                                <i class="fas fa-arrow-circle-down"></i>
                            </span>
                        </button></a> 
                    </div>
                    
                </div>
                <!-- <div class="col-sm-8 col-sm-pull-4" style="background-color:lavenderblush;">.col-sm-8 .col-sm-pull-4</div> -->
            </div>
            <div class="row p-5">
                <div class="col-sm-3 col-md-3 col-lg-3 pb-3">
                    <h5 class="footerheading">CONTACT US</h5></br></br>
                    <p>BENGALURU 4M,
                        417/A, HRBR Layout 3rd Block Kammmanahalli Main Road, Bengaluru, Karnataka - 560043 Phone -
                        (+91)8762033990</p>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">

                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 pb-3">
                    <h5 class="footerheading">COMPANY</h5></br></br>
                    <p class="m-0">About Users</p>
                    <p class="m-0">Products</p>
                    <!-- <p>Terms and Conditions</p> -->
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">

                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <h5 class="footerheading">FOLLOW US</h5></br></br>
                    <div>
                        <!-- <span title="insta" class="pr-2"><i class="fab fa-instagram fa-2x"></i></span>
                        <span title="twitter" class="pr-2"><i class="fab fa-twitter fa-2x"></i></span> -->
                        <a href=" https://www.facebook.com/ParinatiSystems" target="_blank"><span title="facebook" class="pr-2"><i class="fab fa-facebook-f fa-2x text-white"></i></span></a>
                        <a href="#" target="_blank"><span title="youtube" class="pr-2"><i class="fab fa-youtube fa-2x text-white"></i></span></a>
                        <a href="https://www.linkedin.com/company/parinati-systems" target="_blank"><span title="linkedin" class="pr-2"><i class="fab fa-linkedin-in fa-2x text-white"></i></span></a>

        
                    </div>
                    <div class="pt-5 mt-5">
                        <p class="p-0 small">@ Parinati Systems 2020</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Script-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!--Local Script-->
    <script src="./scripts/script.js"></script>
</body>

</html>